$color-primary:#0055a5;
$color-primary-dark:#3669b1;

$color-secondary:#101d2c;
$color-white:#fff;
$color-black:#000;
$color-invalid:red;

$color-heading:#0a4283;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
$color-grey-light-3: #999;

$font-primary:'Nunito', sans-serif;
$font-display:'Josefin Sans', sans-serif;



@mixin respond($breakpoint) {
    @if $breakpoint == phone {
         @media (max-width: 37.5em){ @content };
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em){ @content };
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em){ @content };
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 100em){ @content };
    }
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include respond(tab-land){
        font-size: 50%;
    }

    @include respond(tab-port){
        font-size: 50%;
    }

    @include respond(big-desktop){
        font-size: 70%;
    }
}

body {
    font-family: $font-primary;
    color: $color-primary-dark;
    font-weight: 300;
    line-height: 1.6;
}

.container{
    display: grid;
    grid-template-rows: 9vh  min-content  80vh repeat(4,min-content);
    grid-template-columns:[full-start] minmax(6rem,1fr) [center-start] repeat(8, [col-start] minmax(min-content,14rem)[col-end])[center-end] minmax(6rem,1fr) [full-end];    
}

