@import "base.scss";

.contact{
    grid-column: center-start/center-end;
    margin-bottom: 8rem;
    &__heading{
        text-align: center;
        padding: 2rem;
        color: $color-secondary;
    }
}
.form{
    &__group{
       text-align: center; 
    }
    &__input,
    &__msg{
        font-size: 1.5rem;
        font-family: inherit;
        color:$color-black;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        border: 3px solid rgba($color-black,.8);
        width: 70%;
        display: inline-block;
        transition: all .3s;
       
        &:focus{
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-secondary;
        }

        &:focus:invalid{
            border-bottom: 3px solid $color-invalid;
        }
        &::-webkit-input-placeholder{
            color: $color-grey-light-3;
        }
    }
    &__msg{
        height: 16rem;
        margin-bottom: 2rem;
    }
   
    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__btn{
            text-transform: uppercase;
            text-decoration: none;
            padding: 1.5rem 4rem;
            display: inline-block;
            border-radius: 5rem;
            transition: all .2s;
            position: relative;
            font-size: 1.2rem;
            background-color: $color-secondary;
            color:$color-white;
            border:none;
            cursor: pointer;
            margin-bottom: 2rem;

            &:hover{
                transform: translateY(-1px);
                box-shadow: 0 1rem 2rem rgba($color-black,.6);

                &::after{
                    transform: scaleX(1.4) scaleY(1.4);
                    opacity: 0;
                }
            }

            &:active,
            &:focus{
                outline: none ;
                transform: translateY(-1px);
                box-shadow: 0 .5rem 1rem rgba($color-black,.8);
            }
        
        

    }
}
