@import "base.scss";

.header{
    background-image: linear-gradient(
        to bottom,$color-grey-light-2,rgba($color-white,.8));
    grid-column: full-start/full-end;
    position: relative;
    
    &__img{
        left:0;
        height: 6rem;
        width:20rem;
        padding: 2rem 1rem .2rem 3rem;
        justify-self: center;
        position: absolute;
    }
}
 
.phone{
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap:.3rem;
    grid-column-gap: 1.5rem;
    background-image: linear-gradient(
        to right bottom,$color-primary,rgba($color-secondary,.8));
    right:0;
    padding: .5rem;
    text-align: center;
    border-radius: 0 0 0 1.5rem ;
    position: absolute;
    
    &__icon{
        fill:$color-white;
        width:2.5rem;
        height:3rem;
        grid-row: 1/span 2;
    }

    &__text{
        font-size: 2rem;
        color: $color-white;
    }
}