@import "base.scss";

.navbar{
    background-image: linear-gradient(
        to right bottom,rgba($color-primary,1),rgba($color-secondary,.9));
    grid-column: full-start/full-end;
    margin-top: 1.5rem;
    
}

.nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;


    &__link:link,
    &__link:visited {
        font-size: 1.6rem;
        color: $color-white;
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        padding: 1.6rem;
        display: block;
        transition: all .2s;
    }
    &__link:hover,
    &__link:active {
        color:$color-grey-light-2;
        display:block;
        content:' ';
        box-shadow: inset 0 -4px 0 0 $color-grey-light-2;
    }

}