@import "base.scss";

.quotes{
    // background-color:$color-secondary;
    background-image: linear-gradient(
        to right bottom,rgba($color-secondary,1),rgba($color-primary,.9));
    grid-column: full-start/full-end;
    padding: 3rem;
    margin:  8rem 0;
}
.heading-1{
    text-align: center;
    color: $color-white;
    padding: 2rem;
}